
.previewImage {
  width: 400px;
  height: 300px;
}

.allSpotsContainer {
  display: flex;
  flex-wrap: wrap;
}

.spotContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.spotInfoContainerOne {
  display: flex;

  justify-content: space-between
  ;
}
