.createaspotContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 400px;
    color: rgb(184, 252, 89);
}

.createaspotForm {
  display: flex;
  flex-direction: column;
}

.cityAndState {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.cityLabel {
  width: 100%;
}

.stateLabel {
  width: 100%;
}

.cityLeftContainer {
  display: flex;
  flex-direction: row;
  width: 59%;
}

.cityRightContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
}


.commaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 2px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}

input {
  box-sizing: border-box;
}

.descriptionTextarea {
  width: 100%;
  height: 150px;
  resize: none;
  margin-bottom: 25px;
}

.titleText {
  width: 100%;
  margin-bottom: 25px;
}

.dollaSign {
  margin: 0px 5px 0px 0px;
}

.priceInfoLineContainer {
  display: flex;
  height: 21px;
    margin-bottom: 25px;
}

.priceInfoText {
  width: 100%;
}

.imageText {
  width: 100%;
  margin-bottom: 25px;
}


.submitContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.createSpotButton {}


.locationInfoContainer {
  border-bottom: .1rem solid rgb(184, 252, 89);
}

.descriptionContainer {
  border-bottom: .1rem solid rgb(184, 252, 89);
}

.titleInfoContainer {
  border-bottom: .1rem solid rgb(184, 252, 89);
}

.priceInfoContainer {
  border-bottom: .1rem solid rgb(184, 252, 89);
}

.photosInfoContainer {
  border-bottom: .1rem solid rgb(184, 252, 89);
}

h2 {
  margin-bottom: 0px;
}

h4 {
  margin-top: 0px;
  font-size: 15px;
  font-weight: normal;
}
