body {
  background-color: teal;
}

.dropdownMain {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 25px;
  width: 100px;
  height: 50px;
}

.fullNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  margin-top: auto;
  width: auto;
}

.fa-airbnb {
  display: flex;
  align-items: center;
  color: rgb(184, 252, 89);
  font-size: 50px;
}

.userButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.airbnb {
  display: flex;
  font-size: 15px;
}

.hidden {
  display: none;
}

li {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

li:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
  top: 50px;
  background-color: rgb(184, 252, 89);
}

a:visited {
  text-decoration: none;
  color: black;
}
