body {
  margin: auto;
  background-color: rgb(1, 74, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 100%;
  color: black;
}
.dropdownMain {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid rgb(184, 252, 89);
  border-radius: 25px;
  width: 120px;
  height: 50px;
}

.fullNavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: .1rem solid rgb(184, 252, 89);
  padding-bottom: 5px;
  padding-left: 0px;
}

.logoDiv {
  display: flex;
  align-items: center;
  color: rgb(184, 252, 89);
  font-size: 50px;
}


.logoutButton {
    cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  margin-left: 30px;
}

.userButton {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: rgb(184, 252, 89);
  border-color: rgb(184, 252, 89);
  background-color: teal;
}

.airbnbText {
  display: flex;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.navBarContent {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
}

li {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.profile-dropdown .manageReviews:hover, .manageSpots:hover {
     cursor: pointer;
    background-color: rgb(212, 255, 153);
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 75px;
  right: 25px;
  padding: 10px;
  width: 180px;
  background-color: rgb(184, 252, 89);
  border-radius: 10px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(184, 252, 89);}

a:visited {
  text-decoration: none;
  color: rgb(184, 252, 89);
}

.rightNavContainer {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.fa-bars {
  font-size: 30px;
    color: rgb(184, 252, 89);
}

.userControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  margin: 5px 0px 5px 0px;
}

.manageReviews, .manageSpots {
    cursor: pointer;
}

.login:hover, .signup:hover {
  cursor: pointer;
    background-color: rgb(212, 255, 153);

}

body {
  cursor: default;
  caret-color: transparent;
}

.manageSpots {
  color: black;
}

.createaspotLink {
padding-right: 20px;
}

.rightNavContainer {
  width: fit-content;
}
