body {
  background-color: teal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.dropdownMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid rgb(184, 252, 89);;
  border-radius: 25px;
  width: 120px;
  height: 50px;
}

.fullNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  margin-top: auto;
  width: auto;
  border-bottom: .1rem solid rgb(184, 252, 89);;
  padding-bottom: 5px;
  padding-left: 0px;
}

.logoDiv {
  display: flex;
  align-items: center;
  color: rgb(184, 252, 89);
  font-size: 50px;
}

.fa-airbnb {
  rotate: 180deg;
}

.userButton {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.airbnbText {
  display: flex;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}



li {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

li:hover {
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 200%;
  background-color: rgb(184, 252, 89);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(184, 252, 89);}

a:visited {
  text-decoration: none;
  color: rgb(184, 252, 89);
}
