/* practice styling NOT FINAL */

.loginH1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  background-color: rgb(184, 252, 89);
  width: 500px;
  height: 50px;
  margin: auto;

}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  background-color: rgb(184, 252, 89);
  width: 500px;
  height: 200px;
  margin: auto;
}


.loginLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
}

.loginButton {
  font-size: 20px;
  margin: auto;
  width: 30%;
  height: 20%;
  border-radius: 5%;
}

.loginErrorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: red;
}
