/* practice styling NOT FINAL */

.loginContainer {
  border: solid rgb(184, 252, 89) 25px;
  border-radius: 25px;
  color: black;
}

#modal-content {
  border-radius: 25px;
}

.loginH1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  background-color: rgb(184, 252, 89);
  width: 500px;
  height: 50px;
  margin: auto;

}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 252, 89);
  width: 100%;
  height: 300px;
  margin: auto;
}

.loginInput {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  margin: 15px 0px 15px 0px;
}

.loginButton {
  font-size: 20px;
  margin: auto;
  width: 100%;
  height: 20%;
  cursor: pointer;
}

.loginErrorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: red;
}

.demoUserButton {
  padding-top: 15px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.demoUserButton:hover {
cursor: pointer;
}
